@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-[#40E0D0] to-[#C084FC];
  color: white;
}

@layer base {
  h1, h2 {
    font-weight: 700;
  }
}

a {
  transition-property: all;
  transition-duration: 150ms;
}
a:hover {
  color: #facc15;
}
